.header {

    border-bottom: 1px solid var(--badges);
    padding: 24px 64px;
    /* width: 1440px; */
    height: 72px;
    background: var(--inputs);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 ;
 
}

.logo {
    position: absolute;
    left: 64px;
    top: 50%; 
    transform: translateY(-50%); 
    text-decoration: none;
    transition: opacity 0.3s ease;
}


.nav {
    width: 138px;
    /* height: 24px; */
    /* display: flex; */
    gap: 32px; /* расстояние между ссылками */
    justify-content: center;
}

.navLink {
    color: var(--main);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
    position: relative;
}

.navLink.active {
    color: #E44848; /* или твой --button-hover цвет */
  }


.textNav {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

/* .textNav:hover {
    color: var(--button-hover);
} */