.filters {
    height: 752px;

    
  }
  
  .section {
    margin-bottom: 32px;
  }
  
  .section:last-child {
    margin-bottom: 0;
  }
  
  .sectionTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    font-family: var(--font-family);
    margin-bottom: 8px;
  }
  
  .inputGroup {
    /* margin-bottom: 18px; */
    /* border-radius: 12px; */
    /* padding: 18px 218px 18px 20px; */
    width: 360px;
    height: 56px;
    background: var(--inputs);
  }
  
  .input {
    
    /* width: 100%;
    padding: 16px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-size: 16px;
    color: #101828;
    background: var(--inputs);

    transition: border-color 0.3s ease;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    font-family: var(--font-family); */

    width: 100%;
    padding: 16px 20px 16px 44px; /* увеличиваем left padding */
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-size: 16px;
    color: #101828;
    background: var(--inputs);
    font-weight: 400;
    line-height: 150%;
    color: var(--main);
    font-family: var(--font-family);
    
    /* Добавляем иконку */
    background-image: url('/images/Map.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: #E44848;
  }
  
  .input::placeholder {
    color: #98A2B3;
  }
  
  .subsection {
    /* margin-bottom: 32px; */
    width: 360px;
    /* height: 168px; */
    margin-top: 32px;
  }
  
  .subsection:last-child {
    margin-bottom: 0;
  }
  
  .subsectionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    font-family: var(--font-family);

  /* margin-bottom: 24px; */
  }

  
  .checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
  }

  .radioGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
  }
  
  .checkboxLabel,
  .radioLabel {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 12px; */
    /* cursor: pointer; */
    /* padding: 4px 0; */

    /* mix-blend-mode: multiply;
    border: 1px solid var(--gray-light);
    border-radius: 12px;
    padding: 16px 18px;
    width: 112px;
    height: 96px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  transition: all 0.3s ease;
  position: relative;
  background: white;
  }
  
  .checkbox,
  .radio {
    opacity: 0;
    width: 0;
    height: 0;

  }
  
  .checkbox:checked {
    border-color: #E44848;
  }

  .checkboxLabel img,
  .radioLabel img {
  margin-bottom: 8px;
  transition: all 0.3s ease;
  }
  
  
 
  .checkboxText,
  .radioText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  font-family: var(--font-family);
  transition: color 0.3s ease;
  }
  


  .checkboxLabel:has(.checkbox:checked),
.radioLabel:has(.radio:checked) {
    border: 1px solid var(--button);
    border-radius: 12px;
    padding: 16px 18px;
    width: 112px;
    height: 96px;
}




  
  .searchButton {
    width: 166px;
    height: 56px;
    background: var(--button);

    padding: 16px 60px;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    font-family: var(--font-family);

  }

  
  .searchButton:hover {
    background-color: #D84343;
  }