.container {
  width: 100%;
  min-height: calc(100vh - 80px);
}

.hero {
  background: url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  padding: 40px 20px;
}

.heroContent {
  width: 571px;
height: 176px;
}

.heroTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 47px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px; 
}

.textHome {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.heroButton {
  background-color: #E44848;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;

  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  

}

.heroButton:hover {
  background-color: #D84343;
  border-color: #D84343;
}

.heroButton:active {
  transform: translateY(0);
}

.textButton {
  font-family: var(--font-family);
  font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: var(--white);
white-space: nowrap;
}