.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .content {
    display: flex;
    gap: 64px;
  }
  
  .filters {
    flex: 0 0 360px;
  }
  
  .campers {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
  }
  
  .loadMore {
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* align-self: center; */
    margin-top: 40px;

    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    text-wrap: nowrap;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    font-family: var(--font-family);
  }
  
  .loadMore:hover {
    border: 1px solid var(--button-hover);
    border-radius: 200px;
  }

  .noResults {
    text-align: center;
    padding: 60px 20px;
    color: #475467;
  }

  .noResults h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #101828;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 64px 52px 64px;
  }
  
  .content {
    display: flex;
    gap: 64px;
  }
  
  .filters {
    flex: 0 0 360px;
  }
  
  .campers {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
  }
  
  .campersGrid {
    height: 1568px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
 
  
  .noResults {
    text-align: center;
    padding: 60px 20px;
    color: #475467;
  }
  
  .noResults h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #101828;
  }
  
  .loadMoreContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  
  .endMessage {
    text-align: center;
    padding: 40px 20px;
    color: #475467;
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
  }
  
  
  .endMessage p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
  }
  
  /* Адаптивность */
  @media (max-width: 968px) {
    .content {
      flex-direction: column;
      gap: 32px;
    }
    
    .filters {
      flex: none;
      width: 100%;
    }
  }